<mat-sidenav-container class="sidenav-container" >

    <mat-sidenav #sidenav  class="sidenav" mode="side" [opened]="!isScreenSmall">

        <mat-toolbar>
              Menu
        </mat-toolbar>
        <mat-nav-list>
          <a mat-list-item  routerLink="/"> Home </a>
          <a mat-list-item routerLink="/new-goal"> New Goal </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

        <mat-toolbar>
              <button mat-icon-button *ngIf="isScreenSmall">
                  <mat-icon>menu</mat-icon>
              </button>
        </mat-toolbar>
        <main>
          <router-outlet></router-outlet>
        </main>

    </mat-sidenav-content>



</mat-sidenav-container>
