<section>
  <h1> Edit Goal</h1>
  <form [formGroup]="editGoalForm" (submit)="submitUpdate()">
    <mat-form-field>
      <mat-label for="description">Description </mat-label>
      <input matInput id="description" formControlName="description"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="hours"> Hours </mat-label>
      <input matInput id="hours" type="number" formControlName="hours" />
    </mat-form-field>
      <button mat-raised-button color="primary" type="submit"> Update </button>
  </form>
</section>
