<section>
  <h1> New Goal </h1>
  <form [formGroup]="newGoalForm" (submit)="submitGoal()">
    <mat-form-field>
      <mat-label for="description">Description </mat-label>
      <input matInput id="description" formControlName="description"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="hours"> Hours </mat-label>
      <input matInput id="hours" type="number" formControlName="hours" />
    </mat-form-field>

      <button mat-raised-button color="primary" type="submit">  Add </button>

        <div>
          {{notification}}
        </div>
  </form>
</section>
